.App {
  text-align: center;
}

.App .container {
  margin-top: 5rem;
}

.row > div {
  display: flex;
  flex-wrap: wrap;
}

.row > div > div[class*='col-'] {
 display: flex;
}

.card {
  width: 100%;
  cursor: pointer;
}

mark {
  padding: 0;
  background-color: #ffd703;
}

.Navbar-logo {
  height: 3rem;
}
